@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white overflow-hidden m-0 p-0;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  @apply hidden;
}

.no-cursor {
  @apply cursor-none;
}
